body {
    background-color: #000000;
    margin: 0;
}

div {
    animation: rgb 5s infinite;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
:root{
    --ohno: 100%;
}
@keyframes rgb {
    0% {
        border-color: cyan;
    }

    25% {
        border-color: rgb(72, 0, 255);
    }

    50% {
        border-color: rgb(204, 0, 255);
    }

    75% {
        border-color: rgb(72, 0, 255);
    }

    100% {
        border-color: cyan;
    }
}
.Bestmusic{
    width: 50px;
    height: 50px;

    
}
#genus{
    background-image: url(genus.jpg);
}
#youtube{
    translate: 70px -50px;
}
.animatio{
    transition: 0.5s transform;
    background-image: url(https://i.ytimg.com/vi/1iIXx55Orwg/maxresdefault.jpg);
    background-size: cover;
    animation: rgb 5s infinite;
}
.animatio:hover{
    transform: scale(1.03);
    animation: rgb_butbetter 2.5s infinite;
}
@keyframes rgb_butbetter{

    0%,100% {
        border-color: rgb(255, 55, 0);
    }

    25%,75% {
        border-color: rgb(255, 123, 0);
    }

    50% {
        border-color: rgb(255, 170, 0);
    }


}
#Masterbait {
    width: 200%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    border: none;
    margin: 1px;
    animation: duofo 10s infinite alternate ease-in-out;
}
#Masterbait:hover{
    animation-play-state: paused;
}
#MASTEROFBAIT{
 overflow: hidden;
 height: 99.4vh;
 width: 199.7vh;
}

@keyframes duofo{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: calc(-1*var(--ohno));
    }
    }
#bigbrain {
    background-image: url(tree1.png);
    grid-area: 1 / 1 / 2 / 3;
}

#corruptbrain {
    background-image: url(https://images.unsplash.com/10/hazy-trees.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
    grid-area: 1 / 3 / 2 / 5;
}

#star {
    background-image: url(https://images.unsplash.com/photo-1512499758424-0816b36eff61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 2 / 1 / 3 / 5;
}

#sword {
    background-image: url(https://images.unsplash.com/photo-1510386435160-154e6986e03b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1053&q=80);
    grid-area: 3 / 1 / 5 / 5;
}

#nanomachinesson {
    background-image: url(https://images.unsplash.com/photo-1492486169476-8c5dafd9539f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    grid-area: 5 / 1 / 6 / 3;
}

#explosion {
    background-image: url(https://images.unsplash.com/photo-1503891455988-54b97c8dfc4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 5 / 3 / 6 / 5;
}

#frackturedark {
    background-image: url(https://images.unsplash.com/photo-1500215667712-fdbc1bfc0887?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    grid-area: 1 / 5 / 2 / 7;
}

#log {
    background-image: url(https://images.unsplash.com/photo-1476589143317-647df3b59c32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    grid-area: 1 / 7 / 3 / 9;
}

#log2 {
    background-image: url(https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    grid-area: 3 / 7 / 4 / 9;
}

#log3 {
    background-image: url(https://images.unsplash.com/photo-1522922750994-d97a1b65c886?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
    grid-area: 2 / 5 / 4 / 7; 
}

#log4 {
    background-image: url(https://images.unsplash.com/photo-1505370914932-3d5df10b0d4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    grid-area: 4 / 5 / 6 / 9;
}

#log5 {
    background-image: url(https://images.unsplash.com/photo-1502311526760-ebc5d6cc0183?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=326&q=80);
    grid-area: 4 / 9 / 6 / 11;
}

#log6 {
    background-image: url(https://images.unsplash.com/photo-1516613835066-91cb1a42dda5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 5 / 11 / 6 / 13;
}

#log7 {
    background-image: url(https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 4 / 11 / 5 / 13;
}

#log8 {
    background-image: url(https://images.unsplash.com/photo-1496156298940-6902fc34e55d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 2 / 9 / 4 / 13;
}

#log9 {
    background-image: url(https://images.unsplash.com/photo-1493599124325-e628361046af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    grid-area: 1 / 9 / 2 / 11;
}

#log10 {
    background-image: url(https://images.unsplash.com/photo-1508193638397-1c4234db14d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    grid-area: 1 / 11 / 2 / 15;
}

#log11 {
    background-image: url(https://pbs.twimg.com/media/Fq0ZkSxaMAAeiHP?format=jpg&name=large);
    grid-area: 1 / 15 / 3 / 17;
    background-position: 0px;
}

#log12 {
    background-image: url(https://images.unsplash.com/photo-1444492696363-332accfd40c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mjl8MTcyODI0NXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    grid-area: 2 / 13 / 3 / 15;
}

#log13 {
    background-image: url(https://i.pinimg.com/originals/e5/47/6e/e5476eec7ccd2de2782fc882ac6e9543.png);
    grid-area: 3 / 13 / 6 / 17;
}